body {
    margin-left: 200px;
    margin-right: 200px;
  border: 10px dotted black;
  padding: 15px;
 background-color: rgb(174, 174, 174);
  background-clip: padding-box; 
}
  
h1 {
    color:rgb(36, 36, 239);
    padding: 15px;
    margin-left: 10px;
}


h1 + p {
    font-weight: bold;
  }
  
  p {
    font-size: 15px;
    color: rgb(182, 71, 71);
    font-family: Helvetica, Arial, sans-serif;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

.row{
  display: flex;
  width:100%;
  flex-direction: row;
}

  .column {
    padding: 0 1px;
  }
  
  .column img {
    margin-top: 1px;
    vertical-align: middle;
    width: 33%;
    min-width:250px;
  }

  .center-text{
    width: 100%;
    text-align: center;
  }